{% extends 'admin/base.html' %}

{% block title %} Password change successful {% endblock %}

{% block content %}

<div class="mx-auto mt-5 w-400">
    <div class="card border-0 wr-25" >
        <h5 class="card-title text-center text-primary font-weight-bold font-size-25">Password changed successfully</h5>
        <p class="card-text pl-4"> Your password was changed</p>
        <div class="form-group mx-auto text-center">
            <a href="{% url 'admin:index' %}" class="btn btn-primary text-center w-120">Dashboard</a>
          </div>
    </div>
</div>

{% endblock %}