{% extends 'admin/base.html' %}
{% load static %}


{% block title %} Password Reset {% endblock %}
{% block content %}
    <div class="mx-auto w-400" >
        <div class="card border-0 wr-25">
          
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger text-center alert-dismissible mx-auto p-1">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
            
                    {% if validlink %}
                        <div class="alert alert-info mx-auto p-1 text-center shadow">
                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                        </div>
                        <div class="card-body">
                            <form  method="post" >
                                {% csrf_token %}
                                <div class="form-group">
                                        <label for="exampleInputPassword1" >New password</label>
                                        <input type="password" name="new_password1" required id="id_new_password1"  class="form-control"  placeholder="Enter New Password">
                                        <small id="passwordHelpInline" class="text-muted">
                                                <ul>
                                                    <li>Your password can&#39;t be too similar to your other personal information.</li>
                                                    <li>Your password must contain at least 8 characters.</li>
                                                    <li>Your password can&#39;t be a commonly used password.</li>
                                                    <li>Your password can&#39;t be entirely numeric.</li>
                                                </ul>
                                        </small>
                                    </div >
                                
                                    <div class="form-group">
                                            <label for="exampleInputPassword2" >Confirm password</label>
                                            <input type="password" name="new_password2" required id="id_new_password2"  class="form-control"  placeholder="Enter Confirm Password">
                                        </div >
                                    

                                        <div class="form-group mx-auto text-center">
                                            <button type="submit" class="btn btn-primary text-center font-weight-bold ml-0">Reset Password</button>
                                          </div>
                                
                            </form>
                        </div>
                    {% else %}
                        <p class="text-left">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    {% endif %}

                </div>
        
    </div>

{% endblock %}