{% extends 'admin/base.html' %}

{% load static %}

{% block title %} Password Reset {% endblock %}
    
{% block content %}
    <div class="mx-auto w-400" >
      <div class="card border-0 wr-25" >
        
                    <div class="card-body">
                      <p class="card-text text-left mx-auto">Your password has been set. You may go ahead and log in now.</p>
                      

                      <div class="form-group mx-auto text-center">
                        <a href="{% url 'index_url' %}" class="btn btn-primary text-center w-120">Log-In</a>
                      </div>

                      
                    </div>
                  </div>
      </div>

  {% endblock %}