{% load i18n admin_urls %}
<div class="mx-auto w-600 mt-3 mb-3">
{% block submit-row %}
{% if show_save %}
<input type="submit" value="{% trans 'Save' %}" class="default btn btn-primary" name="_save">{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="deletelink btn btn-danger">{% trans "Delete" %}</a>
{% endif %}
{% if show_save_as_new %}<input type="submit" class="btn btn-primary" value="{% trans 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" class="btn btn-primary" value="{% trans 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" class="btn btn-primary"  value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink btn btn-primary">{% trans 'Close' %}</a>{% endif %}
{% endblock %}
</div>
