<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to finalize the report ans send notification to the client?
          <hr class="border border-dark">
          <div class="row">

              <div class="col-6 text-center">
                <a type="button" class="btn btn-success" href="{% url 'Client_Notify_URL' report.client.id report.id %}">Yes</a>
              </div>
              <div class="col-6 text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>