{% extends 'webaccount/base_rm.html' %} {% load static %} {% block title %}New
Report{% endblock %} {% block content %}

<div class="mx-auto w-400 mt-5">
  <div class="card shadow border-0 wr-45 mb-4">
    <div class="card-header bg-transparent border-0">
      <h3 class="card-title text-left text-primary">
        Update Report
      </h3>
      <div class="col-12 text-right">
        {% if report.status == "Confirmed" %}
          <h3 class="text-primary">Confirmed</h3>
          {%  else %}
        <a href="{% url 'Reports_List_Add_URL' client.id %}" data-toggle="modal" data-target="#exampleModal" >
          Confirm Report
        </a>
        {% endif %}
      </div>
    </div>

    <div class="card-body">

        <form action="{% url 'Reports_List_Update_URL' report.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if report.status != "Confirmed" %}
            <input type="submit" value="Update" class="btn btn-success">
            {% endif %}
            <a href="{% url 'Read_Client_Report_URL' report.client.id report.id  %}" class="btn btn-danger">Back to Report</a>
        </form>

    </div>
  </div>
</div>

{% include "webaccount/report_confirmation_modal.html" %}



<script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>


<script>
    $(document).ready(function()
    {
            $("#id_client").addClass("form-control");
            $("#id_reportType").addClass("form-control");
            $("#id_dateYear").addClass("form-control");
            $("#id_month_quarterType").addClass("form-control");
            $("#id_uploadFile").addClass("form-control");

    });
</script>
{% endblock %}
